body{
    background-color: #000000;
    color: #ff0d1d;
    

.ascii-banner {
    color: #ff0d1d;
    font-size: .6em;
    font-family: monospace;
    white-space: pre;
    background-color: #333333;
    padding: 20px 0;
    font-weight: bold;
}
